spicetify/Backup/
spicetify/Extracted/
spicetify/Extracted/

BetterDiscord/data/
BetterDiscord/emote_data.json
BetterDiscord/emote_data.json
BetterDiscord/plugins/
!BetterDiscord/plugins/*.config.json
!BetterDiscord/plugins/*.config.js

fish/fish_variables
fish/completions/
fish/functions/
!/fish/functions
fish/functions/*
!fish/functions/fish_prompt.fish

fish/fish_plugins
fish/conf.d/
fish/fishd.tmp.6sfRLm

awesome/configuration/user-profile/reiti.png
awesome/configuration/config.lua
