[submodule "One/awesome/charitable"]
	path = One/awesome/charitable
	url = https://github.com/frioux/charitable
[submodule "IdeaPad/charitable"]
	path = IdeaPad/charitable
	url = https://github.com/frioux/charitable
[submodule "IdeaPad/awesome/charitable"]
	path = IdeaPad/awesome/charitable
	url = https://github.com/frioux/charitable
[submodule "awesome/charitable"]
	path = awesome/charitable
	url = https://github.com/frioux/charitable
[submodule "docs/themes/relearn"]
	path = docs/themes/relearn
	url = https://github.com/McShelby/hugo-theme-relearn
